html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #fff;
    --secondary-bg-color: #000;
    --tertiary-bg-color: #eee;
    --hover-bg-color: #ff0000;
    --primary-text-color: #000;
    --secondary-text-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--tertiary-bg-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

nav > h2,
label,
.color-options > p {
    font-weight: bold;
    font-size: 1.5rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-btn {
    border: none;
    border-radius: 50px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    padding:  0.5rem 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-btn:hover,
.nav-btn.active,
.grid-size-btn.active {
    background-color: var(--hover-bg-color);
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 400px;
    max-height: 100%;
    width: 400px;
    max-width: 100%;
    background-color: var(--primary-bg-color);
    border: 3px solid var(--secondary-bg-color);
    pointer-events: none;
}

.square {
    background-color: var(--primary-bg-color);
    cursor: cell;
}

.color-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#random-color-btn {
    display: flex;
    align-items: center;
    background: none;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

input[type="color"] {
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: var(--tertiary-bg-color);
    cursor: pointer;
}

@media (max-width: 430px) {
    .nav-buttons {
        gap: 0.5rem;
    }
}

@media (max-width: 401px) {
    .nav-btn {
        flex: 1 45%;
    }
}

@media (max-width: 301px) {
    .color-options {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 301px) {
    body {
        font-size: 0.75rem;
    }

    .nav-btn {
        flex: 1 100%;
    }
}

